#group_list {
    padding: 10px 0;
    background-color: @background;
}

#group_list row {
    all: unset;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}

#group_list row:selected {
    background-color: @ripple;
}

#group_list #icon {
    border-radius: 100%;
    border: 1px solid @background_shimmer;
    background-clip: padding-box;
}

#group_list #name {
    font-size: 14px;
}

#group_list #message {
    font-size: 14px;
    color: @text_secondary;
}

#messages_list {
    background-color: @background_secondary;
}

#messages #header {
    padding: 10px;
    background-color: @background_secondary;
}

#messages #header #icon {
    border-radius: 100%;
    border: 1px solid @background_shimmer;
    background-clip: padding-box;
}

#messages #header #name {
    font-size: 14px;
    font-weight: bold;
}

#messages #header button {
    min-width: 0;
    min-height: 0;
    background: none;
}


#messages_list {
    padding: 10px;
}

#messages_list row {
    all: unset;
    margin: 1px 0;
}

#messages_list #message_container {
    padding: 10px;
    border-radius: 20px;
}

#messages_list #message_container.to {
    background-color: @primary;
}

#messages_list #message_container.from {
    background-color: @background_shimmer;
}

#messages_list #message_container.from.previous {
    border-top-left-radius: 2px;
}

#messages_list #message_container.from.next {
    border-bottom-left-radius: 2px;
}

#messages_list #message_container.to.previous {
    border-top-right-radius: 2px;
}

#messages_list #message_container.to.next {
    border-bottom-right-radius: 2px;
}

#messages_list #message {
    font-size: 14px;
}

#messages_list #time {
    font-size: 10px;
    color: @text_secondary;
}



#messages #footer {
    padding: 10px;
    background-color: @background_secondary;
}

#messages #footer button {
    min-width: 0;
    min-height: 0;
    background: none;
}

#messages #footer entry {
    all: unset;
    padding: 0 15px;
    border-radius: 20px;
    background-color: @background;
    font-size: 14px;
}

